.container {
  max-height: 250px;
  white-space: nowrap;
  background-color: #011a18;
  border-radius: 15px;
  position: relative;
  overflow-x: hidden;
}

.title {
  font-family: 'Faculty Glyphic', sans-serif;
  font-size: large;
  font-style: 'italic';
  color: white;
  margin-bottom: 0;
  text-align: center;
}

.item {
  height: 200px;
  width: 100px;
  padding-left: 15px;
  object-fit: contain;
  animation: slide 10s linear infinite;
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-435px, 0, 0);
  }
}